.home-container {
    margin: 10px;
}

.quota-container {
    width: 100%;
    margin: 30px 0;
}

.quota-inactive {
    opacity: 0.65;
}

.quota-label {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.3em;
}

.quota-name {
    cursor: pointer;
}

.quota-label span {
  flex-grow: 1;
  flex-basis: 30%;
}

.quota-label-button {
    display: inline-block;
    width: 25px;
}

.quota-recurrence {
    text-align: center;
}

.quota-edit-link {
    text-align: right;
}

.quota-bar {
    position: relative;
    height: 8px;
    width: 100%;
    border: 2px solid black;
    cursor: pointer;
}

.quota-bar-content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.quota-bar-content span {
    flex-grow: 1;
    flex-basis: 30%;
    color: #000000;
    mix-blend-mode: difference;
}

.quota-bar-button {
    padding: 0 5px 0px 5px;
    cursor: pointer;
}

.quota-bar-percent {
    text-align: center;
}

.quota-bar-progress {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    transition: width 1s;
    transition-timing-function: linear;
    background-color: black;
}

.app-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
}

.app-bar-logo {
    font-size: 1.2em;
    padding-left: 10px;
    line-height: 50px;
}

.app-bar-buttons {
    padding-right: 10px;
}

.app-bar-add {
    font-size: 2.6em;
    padding-left: 10px;
    line-height: 50px;
}
