body {
    font-family: "Space Mono", monospace;
    font-variant-ligatures: no-common-ligatures;
    margin: 0;
}

form {
    margin: 0;
}

a, a:visited {
    color: black;
    outline: none;
}

a:active {
    text-decoration: none;
}

.login-form {
    text-align: center;
    margin-top: 15px
}

.login-form input {
    border: black 2px solid;
    border-radius: 0;
    padding: 4px;
    font-family: "Space Mono", monospace;
    font-size: 1rem;
    font-variant-ligatures: no-common-ligatures;
    outline: none;
}

.login-form button {
    font-size: 1rem;
    border: 2px solid black;
    padding: 4px;
    font-weight: bold;
    color: white;
    background-color: black;
    font-family: "Space Mono", monospace;
    outline: none;
    cursor: pointer;
}

.login-form input, .login-form button {
    width: 100%;
    margin-top: 15px;
}

.login-separator {
    border: 1px solid black;
    margin: 30px 0;
}

.google-sign-in {
    font-size: 1rem;
    padding:4px;
    border: 2px solid black;
    font-weight: bold;
    background-color: white;
    font-family: "Space Mono", monospace;
    outline: none;
    cursor: pointer;

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.google-sign-in img {
    height: 24px;
    margin-right: 10px;
}

.container {
    display:flex;
    justify-content: center;
}

.login-content {
    width: 420px;
    margin-top: 60px;
}

.title-img {
    text-align: center;
}

.sign-in-error {
    color: red;
    font-weight: bold;
    margin: 10px 0;
}

.sign-in-extra-links {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 430px) {
    .login-content {
        width: 100%;
        margin-top: 15px;
        padding: 0 10px;
    }

    .title-img > img{
        width: 90vw;
    }
}