body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
}

.content {
  width: 900px;
  min-height: 100vh;
}

div.title {
  width: 100%;
  text-align: center;
  margin: 30px 0;
}

div.group-title {
  margin: 50px 0 20px 0;
  font-family: 'FFFForward';
  font-size: 26px;
}

div.task {
    display: flex;
    align-items: center;
}

div.expand {
    text-align: center;
}

div.expand > img {
    cursor: pointer;
}

div.bar {
  cursor: pointer;
  position: relative;
  height: 42px;
  width: 100%;
  border: 6px solid #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  mix-blend-mode: screen;
  margin: 20px 0;
  opacity: 0.5;
}

div.bar.bar-active {
  opacity: 1;
}

div.bar.bar-depleting {
  border-color: #FF0000;
}

div.bar.bar-filling {
  border-color: #00FF00;
}

div.bar .progress {
  height: 100%;
  background-color: #000000;
}

div.bar.bar-depleting .progress {
  background-color: #FF0000;
}

div.bar.bar-filling .progress {
  background-color: #00FF00;
}

div.bar .text {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-family: 'Minecraftia';
  font-size: 25px;
  color: #FFFFFF;
  mix-blend-mode: difference;
  line-height: 49px;
  font-smooth: never;
  -webkit-font-smoothing : none;
}

div.bar.bar-depleting .text {
  color: #00FFFF;
}

div.bar.bar-filling .text {
  color: #FF00FF;
}

div.bar .text div {
  padding: 0 5px;
  flex-grow: 1;
  flex-basis: 30%;
}

@keyframes active-filling {

}

@font-face {
  font-family: "FFFForward";
  src: url("../fonts/FFFFORWA.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Minecraftia";
  src: url("../fonts/mc.woff2");
  font-weight: normal;
  font-style: normal;
}
